// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$my-gray: #A5A5A5;
$my-green: #00B439;
$my-blue: #469AE0;
$my-red: #EE5F5B;
$my-yellow: #FDB631;
$my-orange: #E67E22;
$my-dark-gray: #47463E;
