@media(max-width: 720px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
}
@media(min-width: 720px) {
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }
}

.booking-container {
  padding: 2% 2%;
  margin-bottom: 20px;
}

.booking-cards-container {
  margin-bottom: 15px;
  margin-top:15px;
}

.bookings-subtitle {
  color: $my-dark-gray;
}
