@media(max-width: 720px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
}
@media(min-width: 720px) {
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }
}

.booking-container {
  padding: 2% 1%;
  margin-bottom: 30px;
}
