@media(max-width: 720px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
}
@media(min-width: 720px) {
  .desktop {
    display: inline;
  }
  .mobile {
    display: none;
  }
}

.booking-container {
  padding: 2% 2.5%;
  margin-bottom: 20px;
}

.booking-cards-container {
  margin-bottom: 15px;
  margin-top:15px;
}

.bookings-subtitle {
  color: $my-dark-gray;
}

.booking-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-booking-date {
  flex: 0 0 58%;
  height: 55px;
  display: flex;
  align-items: center;
  h5 {
    font-size: 16px;
  }
}

.card-booking-hour {
  h5 {
    font-size: 14px;
    color: $my-gray;
  }
}

.card-address-flex {
  display: flex;
  align-items: center;
  p {
    font-size: 11px;
  }
}

.booking-card-info-text {
  font-size: 12px;
  color: $my-gray;
}

.booking-card-info-second-level {
  justify-content: center !important;
}

.booking-card-field-info {
  justify-content: space-around;
}

.booking-card-link {
  background-color: white;
  padding: 0 0 13px 0;
}
