hr {
  border: 0.5px solid lightgray;
}

#titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 24px 8px;
  color: rgba(0, 0, 0, 0.6);
}

.filter-dropdown-menu{
  align-items: center;
  width: 32vw;
  height: 50vh;
  padding: 8px 32px;
  transition: 1s ease;
  h4 {
    white-space: normal;
    color: rgba(0, 0, 0, 0.8);
  }
  p {
    margin-bottom: 1px;
  }
  form{
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
    option{
      &::selected{
        background-color: $brand-primary;
      }
    }
  }

  #slider{
    width: 100%;
  }

  .filter-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .filter-dropdown-menu{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    margin: 0px;
  }
}
