.landing-details{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url(https://images.unsplash.com/photo-1520804588595-ac2328f38c4a?ixlib=rb-0.3.5…EyMDd9&s=9882fa1…&auto=format&fit=crop&w=1500&q=80);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 100vh;
  i {
    font-size: 32px;
    margin-bottom: 16px;
  }
  span {
    font-size: 24px;
    padding-right: 16px;
    font-weight: bold;
  }
  ul {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  h3 {
    margin: 0px;
    padding-top: 32px;
    padding-bottom: 48px;
    color: white;
    text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
    font-weight: bold;
  }
  .landing-details-step{
    max-width: 200px;
    height: 150px;
    padding: 16px 8px;
    box-shadow: 0px 0px 0.2em rgba(0,0,0,0.2);
    border-radius: 25px;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 8px;
  }
}
@media (max-width: 595px) {
.landing-details{
    height: auto;
  }
}

.arrow {
  text-align: center;
  margin: 8% 0;
  position: fixed;
  bottom: 0px;
  right: 72px;
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@media (max-width: 768px) {
  .arrow {
      position: absolute;
      height: 0px;
      bottom: 0px;
      bottom: 0px;
      right: 47%;
      font-size: 10px;
      margin-bottom: 0px !important;
    }
}
@media (max-width: 398px) {
  .landing-details > ul {
    display: block;
  }
}
