.players-box {
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 1px 1px 0.2em rgba(0,0,0,0.2);
  padding: 10px 15px 20px 15px;;
  border-radius: 3px;
  p {
    margin: 0px;
  };
  margin-bottom: 23px;
}

.players-box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}

.player-box-body-player-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

.player-box-body-player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.player-box-body-player-name {
  flex: 0 0 60%;
}

.player-box-body-avatar {
  flex: 0 0 40%;
}

.player-status-pending {
  color: red;
}

.player-status-paid {
  color: green;
}

.player-box-body-player-payment-status{
  text-align: center;
}
