<div class="edit-user-form-wrapper" style="background-image:
      linear-gradient(rgba(255,255,255, 0),
      rgba(0, 0, 0, 0.4)),
      url(<%= cl_image_path('Default Pics/user-info-background.jpg')%>);"
  >
  <%= render 'shared/edit_user_form' %>
</div>
