<div id="myModal" class="modal fade in" role="dialog" style="display: block;">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-image:
            linear-gradient(rgba(255,255,255, 0),
            rgba(0, 0, 0, 0.4)),
            url(http://res.cloudinary.com/djlocq70e/image/upload/booking-confirm.jpg);">
          <button type="button" class="close" id="modal-close" data-dismiss="modal">×</button>
          <h4 class="modal-title">Detalles de tu reserva</h4>
        </div>
        <div class="modal-body">
          <div class="modal-business-name">
            <div class="modal-business-name-header">
              <h3 dataset="13"> El Templo Del Futbol </h3>
              <p class="modal-field-name">
                <i class="fas fa-futbol"></i>
                Cancha 4
              </p>
            </div>
          </div>
          <div class="modal-booking-details-container">
            <div class="modal-booking-details-item text-center">
              <div class="modal-booking-time">
                <i class="far fa-clock"> </i>
                <div class="modal-selected-date">
                  <p>2018-05-11</p>
                </div>
                <div class="modal-selected-time">
                  <p>2:00 PM-3:00 PM</p>
                </div>
              </div>
            </div>
            <div class="modal-booking-details-item text-center">
              <div class="modal-business-address">
                <i class="fas fa-map-marker-alt"></i>
                <p>Cra 48, 26sur 87, Envigado, Antioquia</p>
              </div>
            </div>
            <div class="modal-booking-details-item text-center">
              <div class="modal-capacity">
                <i class="fas fa-users"></i>
                <p>20 Jugadores</p>
              </div>
            </div>
          </div>
          <div class="modal-split">
           <p> Desea dividir la tarifa entre los jugadores?</p>
            <div class="modal-splitable">
              <div class="card-toggle">
                <label class="switch">
                  <input class="splitable" type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
          <hr>
          <div class="modal-price">
            <p>Total a pagar</p>
            <p>
              <i class="fas fa-dollar-sign"></i>
              150.000
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <form action="/bookings" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="iG14VsN3ff2CBOtZn8milB3TBlVicLXQVaozFdGHAO8Y8p3BNY6cF3LuAvvBOjxuqoHSh9XguxaPNXrYJ4v4JA==">
            <input type="hidden" name="booking[authenticity_token]">
            <input id="field_id" type="hidden" name="booking[field_id]" value="13">
            <input id="bookingDate" type="hidden" name="booking[date]" value="Fri, 11 May 2018 14:00:00 GMT">
            <input id="splitable" type="hidden" value="false" name="booking[splitable]">
            <input id="number_players" type="hidden" name="booking[number_players]" value="20">
            <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal">CANCELAR</button>
            <input type="submit" name="commit" value="SOLICITAR RESERVA" class="btn btn-primary btn-confirm-modal" data-disable-with="Confirmar Reserva">
          </form>
        </div>
      </div>
  </div>
</div>
