<div class="row">
    <%= form_with url: fields_path, method: :get, class: "field-search-form", local: true do |f| %>
    <div class="col-xs-12 col-sm-10 search-form-input">
      <%= f.text_field :dates,
        value: params[:dates],
        id: "dates",
        class: "datepicker datesize",
        placeholder: "¿Cuándo quieres jugar? <<¿Qué tal hoy?>>"
      %>
    </div>

    <div class="col-xs-12 col-sm-2 search-form-input">
      <%= f.submit "BUSCAR", name: nil, class: "btn btn-banner full-width-padded" %>
    </div>
  <% end %>
</div>

