 <div class="card-toggle">
  <div><p>Desea dividir la tarifa entre todos los jugadores?</p></div>
  <div>
    <label class="switch">
      <input class="splitable" type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>
</div>
