<div class="banner <%= "banner-landing" if controller_name == "pages" %>">
  <div class="banner-content">
    <div class="moto">
      <h1>Reserva, organiza, Joga Bonito</h1>
    </div>
    <div class="container center-div">
      <%= render "shared/search-form" %>
    </div>
  </div>
</div>
<div class="landing-details">
  <h3>Reservar con CAPP es muy sencillo y totalmente gratis</h3>
  <ul class="list-inline">
      <li class="landing-details-step">
        <i class="fas fa-search"></i>
        <p>Busca la cancha en la que quieras jugar.</p>
      </li>
      <li class="landing-details-step">
        <i class="fas fa-calendar-alt"></i>
        <p>Elige el día y la hora que más te convenga.</p>
      </li>
      <li class="landing-details-step">
        <i class="fas fa-pencil-alt"></i>
        <p>Solicita la reserva completando los datos.</p>
      </li>
      <li class="landing-details-step">
        <i class="fas fa-check-square"></i>
        <p>El establecimiento confirmará tu reserva, y se te notificará a tu correo electrónico.</p>
      </li>
      <li class="landing-details-step">
        <i class="fas fa-futbol"></i>
        <p>Dirígete a la cancha, paga tu reserva y a jugar.</p>
      </li>
  </ul>
</div>
