<div class="banner">
  <div class="banner-content">
    <div class="moto">
      <h3>Reserva, organiza, Joga Bonito</h3>
    </div>
    <div class="container center-div">
      <%= render "shared/search-form" %>
    </div>
  </div>
</div>


