<div class="banner <%= "banner-landing" if controller_name == "pages" %>">
  <div class="banner-content">
    <div class="moto">
      <h1>Reserva, organiza, Joga Bonito</h1>
    </div>
    <div class="container center-div">
      <%= render "shared/search-form" %>
    </div>
  </div>
</div>
<div class="landing-details">
  <h3>Reservar con CAPP es muy sencillo</h3>
  <ul>
    <li></li>
  </ul>
</div>
