<div class="banner <%= "banner-landing" if controller_name == "pages" %>">
  <div class="banner-content">
    <div class="moto">
      <h1>Reserva, organiza, Joga Bonito</h1>
    </div>
    <div class="container center-div">
      <%= render "shared/search-form" %>
    </div>
  </div>
</div>
<div>
<p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat magnam molestias ipsa ea illo reprehenderit vel quasi architecto, quos alias eaque deleniti sit optio molestiae impedit veritatis atque mollitia sequi.</p>
</div>
