<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),
url( <%= cl_image_path("rgdu0rhs3z2dgy7gutwh.jpg") %>);">
  <div class="banner-content">
    <h1>CAPP</h1>
    <p>El picadito del barrio nunca fue tan fácil de organizar</p>
    <div class="container center-div">
      <%= render "shared/search-form" %>
    </div>
  </div>
</div>
