<div class="container text-center">
  <%= form_tag fields_path, method: :get do %>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-4 col-md-offset-1"><p>Buscar disponibilidad entre:</p></div>
      <div class="col-xs-6 col-sm-6 col-md-6 ">
        <%= text_field_tag :dates,
          params[:dates],
          class: "datepicker",
          placeholder: "May 5, 2018 a May 10, 2018"
        %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1"><p>¿A qué hora te gusta jugar?</p></div>
      <div class="col-md-3">
        <%= text_field_tag :time,
          params[:time],
          class: "timepicker",
          placeholder: "5PM"
        %>
      </div>
      <div class="col-md-3">
        <%= submit_tag "Encontrar mi cancha"%>
      </div>
    </div>
  <% end %>
</div>
