.banner {
  background-color: #dccbb8;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0,0,0,0)), asset-url('banner2.jpeg');
  color: white;
  text-align: center;
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;

  h1 {
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
    margin-bottom: 30px;
    margin-top: 0px;
  }
}

.banner-landing {
  z-index: -1;
  height: 100vh;
  width: 100%;
}
@media (max-width: 768px) {
  .banner {
      position: static;
      top: auto;
    }
}


