.btn-facebook {
  background-color: rgb(59, 89, 152);
  color: white;
  margin-bottom: 15px;
  width: -webkit-fill-available;
  font-weight: bold;
  &:hover {
    background-color: #3a61b3;
    color: white;
  }
}

.btn-banner {
  background-color: $brand-primary;
  color: white;
  border-radius: 3px;
  font-weight: bold;
}
.btn-filter{
  color: $brand-primary;
  font-weight: bold;
  background-color: transparent;
}
.btn-close-filter{
  background-color: transparent;
  border: none;
  font-weight: bold;
}
.btn-login {
  background-color: $brand-primary;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  width: 100%;
}
