.date-tabs-list{
  border-bottom: 1px solid $brand-primary;
  margin-top: 16px;
  margin-left: 2px;
}
.active-date {
  color: white;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: $brand-primary;
}

.date-tab {
  &:hover{
    background-color: $my-gray;
    color: white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
}
.mobile-tab {
  border-radius: 0px;
}

.day-selection-mobile {
  display: flex;
  align-items: center;
  margin: 10px 0 -5px 5px;
  font-weight: bold;
}

.day-selection-caret {
  margin-left: 10px;
}
