.date-tabs-list{
  border-bottom: 1px solid lightgray;
  margin-top: 16px;
  margin-left: 2px;
}
.active-date {
  color: $brand-primary;
  font-weight: bold;
  border-bottom: 3px solid $brand-primary;
  &:hover{
    color: $brand-primary !important;
  }
}

.date-tab {
  &:hover{
    color: rgba(black, 0.8);
    font-weight: bold;
  }
}
.mobile-tab {
  border-radius: 0px;
}

.day-selection-mobile {
  display: flex;
  align-items: center;
  margin: 10px 0 -5px 5px;
  font-weight: bold;
  color: $brand-primary;
  border-bottom: 1px solid lightgray;
  padding-left: 16px;
}

.day-selection-caret {
  margin-left: 10px;
}
