.edit-user-form {
  background-color: white;
  padding: 20px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 3px;

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
  }

  p {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 8px;
  }

  .btn {
    margin-top: 16px;
    width: 100%;
  }
}

.user_form_options_container {
  background-color: rgba(255,255,255,0.94);
  padding: 1px 50px 20px 50px;
  margin-top: 50px;
}
