.center-div {
  width: 70%;
  margin-top: 20px;
}

.field-search-form {
  width: 100%;

}

.datesize {
  margin-top: 8px;
  width: 100%;
  text-align: center;
  height: 39px;
  background-color: white;
  color: $my-gray;
  border-radius: 10px;
}

.full-width-padded {
  width: 100%;
  margin-top: 8px;
}

@media (min-width: 768px) {
  .start-time {
    width: 115%;
    position: relative;
    right: 10px;
  }
}

.form-control {
  border-radius: 10px;
  color: $my-gray;
  background-color: white;
  outline: none;
}
