.center-div {
  width: 70%;
  // margin-top: 70px;
}

.field-search-form {
  width: 100%;

}

.datesize {
  margin-top: 8px;
  width: 100%;
  text-align: center;
  height: 39px;
}

.full-width-padded {
  width: 100%;
  margin-top: 8px;
}

