.center-div {
  width: 70%;
}

.field-search-form {
  width: 100%;

}

.datesize {
  border: 1px solid #ccc;
  background-color: white !important;
  color: gray;
  margin-top: 8px;
  width: 100%;
  text-align: center;
  height: 39px;
}

.full-width-padded {
  width: 100%;
  margin-top: 8px;
}
option:selected{
  color: red;
}
.queryinput {
  border: 1px solid #ccc;
  background-color: white;
  color: gray;
  width: 100%;
  text-align: center;
  height: 39px;
}
