<div class="verification-mail" style="padding: 10px; font-family: 'Helvetica Neue',Helvetica,Arial,Geneva,sans-serif">
  <p>Hola,</p>
  <p>Te estamos contactando para notificarte que tu contraseña ha sido cambiada</p>
</div>
