<div class="verification-mail" style="padding: 10px; font-family: 'Helvetica Neue',Helvetica,Arial,Geneva,sans-serif">

  <p>Hola,</p>

  <p>Tu cuenta ha sido bloqueada debido a un excesivo número de intentos de inicio de sesión fallidos</p>

  <p>Haz click en el siguiente link para desbloquear tu cuenta:</p>

  <div class="button" style="margin: 30px 0 30px 0">
      <%= link_to 'DESBLOQUEAR MI CUENTA', unlock_url(@resource, unlock_token: @token), {style:
            "border-radius: 3px; padding: 15px 10px;
             background-color: #3392ce; color: white;
             font-weight: bold; text-decoration: none;
             font-size: 14px; letter-spacing: 0;
             font-family: 'Source Sans Pro','Helvetica Neue',Arial,Helvetica,sans-serif"} %>
  </div>

</div>
